.ribbon-box .color-rank-iron span {
    background-color: #3b3b3b !important;
}

.ribbon-box .color-rank-iron span:before {
    border-left: 3px solid #3b3b3b;
    border-top: 3px solid #3b3b3b;
}

.ribbon-box .color-rank-iron span:after {
    border-right: 3px solid #3b3b3b;
    border-top: 3px solid #3b3b3b;
}

.ribbon-box .color-rank-bronze span {
    background-color: #755103 !important;
}

.ribbon-box .color-rank-bronze span:before {
    border-left: 3px solid #755103;
    border-top: 3px solid #755103;
}

.ribbon-box .color-rank-bronze span:after {
    border-right: 3px solid #755103;
    border-top: 3px solid #755103;
}

/* 
. {
    background-color: #cdd3d1 !important;
    color: #3b3b3b !important;
} */


.ribbon-box .color-rank-silver span {
    background-color: #cdd3d1 !important;
}

.ribbon-box .color-rank-silver span:before {
    border-left: 3px solid #cdd3d1;
    border-top: 3px solid #cdd3d1;
}

.ribbon-box .color-rank-silver span:after {
    border-right: 3px solid #cdd3d1;
    border-top: 3px solid #cdd3d1;
}


.ribbon-box .color-rank-gold span {
    background-color: #edc44a !important;
}

.ribbon-box .color-rank-gold span:before {
    border-left: 3px solid #edc44a;
    border-top: 3px solid #edc44a;
}

.ribbon-box .color-rank-gold span:after {
    border-right: 3px solid #edc44a;
    border-top: 3px solid #edc44a;
}

.ribbon-box .color-rank-platinum span {
    background-color: #3aa6af !important;
}

.ribbon-box .color-rank-platinum span:before {
    border-left: 3px solid #3aa6af;
    border-top: 3px solid #3aa6af;
}

.ribbon-box .color-rank-platinum span:after {
    border-right: 3px solid #3aa6af;
    border-top: 3px solid #3aa6af;
}




.ribbon-box .color-rank-diamond span {
    background-color: #c685f9 !important;
}

.ribbon-box .color-rank-diamond span:before {
    border-left: 3px solid #c685f9;
    border-top: 3px solid #c685f9;
}

.ribbon-box .color-rank-diamond span:after {
    border-right: 3px solid #c685f9;
    border-top: 3px solid #c685f9;
}



.ribbon-box .color-rank-immortal span {
    background-color: #b03d6c !important;
}

.ribbon-box .color-rank-immortal span:before {
    border-left: 3px solid #b03d6c;
    border-top: 3px solid #b03d6c;
}

.ribbon-box .color-rank-immortal span:after {
    border-right: 3px solid #b03d6c;
    border-top: 3px solid #b03d6c;
}


.ribbon-box .color-rank-radiant span {
    background-color: #fdf0a1 !important;
}

.ribbon-box .color-rank-radiant span:before {
    border-left: 3px solid #fdf0a1;
    border-top: 3px solid #fdf0a1;
}

.ribbon-box .color-rank-radiant span:after {
    border-right: 3px solid #fdf0a1;
    border-top: 3px solid #fdf0a1;
}

.inputfile {
    /* visibility: hidden etc. wont work */
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile:focus+label {
    /* keyboard navigation */
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
    pointer-events: none;
}

.height-537 {
    height: 537px;
}


.lift {
    -webkit-transition: -webkit-box-shadow .25s ease, -webkit-transform .25s ease;
    transition: -webkit-box-shadow .25s ease, -webkit-transform .25s ease;
    -o-transition: box-shadow .25s ease, transform .25s ease;
    transition: box-shadow .25s ease, transform .25s ease;
    transition: box-shadow .25s ease, transform .25s ease, -webkit-box-shadow .25s ease, -webkit-transform .25s ease
}

.lift:focus,
.lift:hover {
    -webkit-box-shadow: 0 1rem 2.5rem rgba(27, 22, 66, .1), 0 .5rem 1rem -.75rem rgba(27, 22, 66, .1) !important;
    box-shadow: 0 1rem 2.5rem rgba(27, 22, 66, .1), 0 .5rem 1rem -.75rem rgba(27, 22, 66, .1) !important;
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0)
}

.lift-lg:focus,
.lift-lg:hover {
    -webkit-box-shadow: 0 1rem 5rem rgba(27, 22, 66, .1), 0 2rem 3rem -1rem rgba(27, 22, 66, .05) !important;
    box-shadow: 0 1rem 5rem rgba(27, 22, 66, .1), 0 2rem 3rem -1rem rgba(27, 22, 66, .05) !important;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0)
}